@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}
@* 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@
 @using X.PagedList.Mvc.Core;
 @model X.PagedList.IPagedList<TDanhMucSp>
@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialSanPham", item)
}

<div class="product__pagination"> 
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

